body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Segoe UI", sans-serif;
  margin: 0;
  direction: rtl;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(104, 219, 219);
  outline: 0.4vh solid rgb(11, 116, 185);
}

.top_page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  background-color: rgb(224, 241, 254);
  margin-top: 1vh;
  border-radius: 2vh;
  outline: 0.4vh solid rgb(11, 116, 185);
  height: 10vh;
}

.title {
  display: flex;
  align-items: center;
  height: inherit;
  display: flex;
  margin-right: 1vw;
}

.title_img {
  height: 80%;
}

.page_name {
  font-size: 5vw;
  margin: 0;
  color: rgb(10, 90, 171);
  -webkit-text-stroke: 0.8vw rgb(66, 216, 204);
  letter-spacing: 0.8vh;
  text-shadow: 0 1vh 0.3vh rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  margin-right: 2vw;
  padding-bottom: 1vh;
}

.page_name::before {
  z-index: 1;
  content: "בחזרה לעתיד";
  -webkit-text-stroke: 0.1vw rgb(255, 255, 255);
  position: absolute;
}

.clock {
  display: flex;
  align-items: center;
  height: inherit;
}

#start_clock {
  font-size: 1.6vw;
  height: 6vh;
  width: 7vw;
  box-shadow: 0 0.6vh 1vh rgba(0, 0, 0, 0.5);
  margin-left: 0.4vw;
  border-width: 0.3vh;
  padding-inline: 0.8vw;
}

.clock_box {
  display: flex;
  align-items: center;
  background-image: linear-gradient(white, yellow);
  height: 4vh;
  box-shadow: 0 0.6vh 1vh rgba(0, 0, 0, 0.5);
  border: none;
}

#clock_value {
  font-size: 1.6vw;
}

.user_info {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-left: 1vw;
  font-weight: 700;
}

.bottom_page {
  display: flex;
  justify-content: space-between;
  width: 98%;
  height: 100%;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60vh;
  background-color: rgb(14, 209, 209);
  border-radius: 5vh;
  margin-left: 1vw;
  outline: 0.4vh solid rgb(11, 116, 185);
}

.side_button {
  /* background-image: linear-gradient(rgb(255, 255, 255, 0.8), rgb(13, 207, 234, 0.5), rgb(2, 63, 71, 0) 50%),
    linear-gradient(to left, rgb(2, 63, 71, 0.8), rgb(13, 207, 234, 0.5), rgb(13, 207, 234, 0) 70.71%), 
    linear-gradient(to right, rgb(2, 63, 71, 0.8), rgb(13, 207, 234, 0.5), rgb(13, 207, 234, 0) 70.71%); */
  background-color: rgb(13, 207, 234, 0.5);
  box-shadow: 1vh 0 1vh rgba(0, 0, 0, 0.5) inset,
    -1vh 0 1vh rgba(0, 0, 0, 0.5) inset,
    0 1vh 1vh rgba(255, 255, 255, 0.8) inset,
    0 -1vh 1vh rgba(255, 255, 255, 0.8) inset, 0 1vh 1vh rgba(0, 0, 0, 0.2),
    1vh 0vh 1vh rgba(0, 0, 0, 0.2), -1vh 0vh 1vh rgba(0, 0, 0, 0.2);
  font-size: 3vh;
  width: 50%;
  height: 9%;
  margin-bottom: 1vh;
  color: white;
  border-radius: 1vh;
  border: 0.2vh solid black;
  white-space: nowrap;
}

.side_button:hover {
  box-shadow: 1vh 0 1vh rgba(255, 255, 255) inset,
    -1vh 0 1vh rgba(255, 255, 255) inset, 0 1vh 1vh rgba(255, 255, 255) inset,
    0 -1vh 1vh rgba(255, 255, 255) inset, 0 1vh 1vh rgba(0, 0, 0, 0.2),
    1vh 0vh 1vh rgba(0, 0, 0, 0.2), -1vh 0vh 1vh rgba(0, 0, 0, 0.2);
}

#main_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  border-radius: 7vw;
  outline: 0.4vh solid rgb(11, 116, 185);
  font-size: 1.7vh;
  font-weight: 700;
  background-color: aliceblue;
}

#all_details_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3vh;
  text-align: center;
  margin-top: 2%;
  width: 85%;
  height: 60vh;
  outline: 0.4vh solid rgb(11, 116, 185);
  background-color: white;
}

.scroll {
  background-color: white;
  overflow-y: auto;
  width: inherit;
  height: inherit;
  direction: ltr;
}

#all_details {
  background-color: white;
  direction: rtl;
}

.table_row {
  background-color: #8080806b;
}

.table_row:hover {
  background-color: #95a7e3b8;
}

.specific_details {
  font-size: 3vh;
  margin-top: 1%;
  margin-bottom: 2%;
  width: 85%;
  height: 25%;
  outline: 0.4vh solid rgb(11, 116, 185);
  text-align: center;
  background-color: white;
}
