body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Segoe UI", sans-serif;
  margin: 0;
  direction: rtl;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(104, 219, 219);
  outline: 0.4vmin solid rgb(11, 116, 185);
}

.top_page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  background-color: rgb(224, 241, 254);
  margin-top: 1vmin;
  border-radius: 2vmin;
  outline: 0.4vmin solid rgb(11, 116, 185);
  height: 10vmin;
}

.title {
  display: flex;
  align-items: center;
  height: inherit;
  display: flex;
  margin-right: 1.5vmin;
}

.title_img {
  height: 80%;
}

.page_name {
  font-size: 9vmin;
  margin: 0;
  color: rgb(10, 90, 171);
  -webkit-text-stroke: 1vmin rgb(66, 216, 204);
  letter-spacing: 0.8vmin;
  white-space: nowrap;
  padding-bottom: 1vmin;
}

.page_name::before {
  z-index: 1;
  content: "בחזרה לעתיד";
  -webkit-text-stroke: 0.2vmin rgb(255, 255, 255);
  position: absolute;
}

.left_side_top {
  display: flex;
}

.clock {
  display: flex;
  align-items: center;
  height: inherit;
  margin-left: 3.5vmin;
}

#start_clock {
  font-size: 2.6vmin;
  height: 6vmin;
  width: 12vmin;
  box-shadow: 0 0.6vmin 1vmin rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(white, rgb(88, 88, 88));
  margin-left: 0.7vmin;
  border-width: 0.3vmin;
  padding-inline: 1.5vmin;
  margin-left: 1vmin;
}

.clock_box {
  display: flex;
  align-items: center;
  background-image: linear-gradient(white, yellow);
  height: 4vmin;
  box-shadow: 0 0.6vmin 1vmin rgba(0, 0, 0, 0.5);
  border: none;
}

#clock_value {
  font-size: 2.6vmin;
}

.user_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  margin-left: 1.5vmin;
  font-weight: 700;
  text-wrap: nowrap;
}

#user {
  font-size: 3vmin;
}

#last_enter {
  font-size: 1.8vmin;
}

.bottom_page {
  display: flex;
  justify-content: space-between;
  width: 98%;
  height: 100%;
  margin-top: 2vmin;
  margin-bottom: 2vmin;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40vmin;
  background-color: rgb(14, 209, 209);
  border-radius: 5vmin;
  margin-left: 1.5vmin;
  outline: 0.4vmin solid rgb(11, 116, 185);
}

.side_button {
  /* background-image: linear-gradient(rgb(255, 255, 255, 0.8), rgb(13, 207, 234, 0.5), rgb(2, 63, 71, 0) 50%),
    linear-gradient(to left, rgb(2, 63, 71, 0.8), rgb(13, 207, 234, 0.5), rgb(13, 207, 234, 0) 70.71%), 
    linear-gradient(to right, rgb(2, 63, 71, 0.8), rgb(13, 207, 234, 0.5), rgb(13, 207, 234, 0) 70.71%); */
  background-color: rgb(13, 207, 234, 0.5);
  box-shadow: 1vmin 0 1vmin rgba(0, 0, 0, 0.5) inset,
    -1vmin 0 1vmin rgba(0, 0, 0, 0.5) inset,
    0 1vmin 1vmin rgba(255, 255, 255, 0.8) inset,
    0 -1vmin 1vmin rgba(255, 255, 255, 0.8) inset,
    0 1vmin 1vmin rgba(0, 0, 0, 0.2), 1vmin 0 1vmin rgba(0, 0, 0, 0.2),
    -1vmin 0 1vmin rgba(0, 0, 0, 0.2);
  font-size: 3vmin;
  width: 22vmin;
  height: 7vmin;
  margin-bottom: 1vmin;
  color: white;
  border-radius: 1vmin;
  border: 0.2vmin solid black;
  white-space: nowrap;
}

.side_button:hover {
  box-shadow: 1vmin 0 1vmin rgba(255, 255, 255) inset,
    -1vmin 0 1vmin rgba(255, 255, 255) inset,
    0 1vmin 1vmin rgba(255, 255, 255) inset,
    0 -1vmin 1vmin rgba(255, 255, 255) inset, 0 1vmin 1vmin rgba(0, 0, 0, 0.2),
    1vmin 0 1vmin rgba(0, 0, 0, 0.2), -1vmin 0 1vmin rgba(0, 0, 0, 0.2);
}

/* .side_button:focus {
  box-shadow: 1vmin 0 1vmin rgba(255, 255, 255) inset,
    -1vmin 0 1vmin rgba(255, 255, 255) inset,
    0 1vmin 1vmin rgba(255, 255, 255) inset,
    0 -1vmin 1vmin rgba(255, 255, 255) inset, 0 1vmin 1vmin rgba(0, 0, 0, 0.2),
    1vmin 0 1vmin rgba(0, 0, 0, 0.2), -1vmin 0 1vmin rgba(0, 0, 0, 0.2);
} */

.button_focus {
  box-shadow: 1vmin 0 1vmin rgba(255, 255, 255) inset,
    -1vmin 0 1vmin rgba(255, 255, 255) inset,
    0 1vmin 1vmin rgba(255, 255, 255) inset,
    0 -1vmin 1vmin rgba(255, 255, 255) inset, 0 1vmin 1vmin rgba(0, 0, 0, 0.2),
    1vmin 0 1vmin rgba(0, 0, 0, 0.2), -1vmin 0 1vmin rgba(0, 0, 0, 0.2);
}

#main_box {
  width: 100%;
  height: 100%;
}

#image_page {
  width: inherit;
  height: inherit;
}

#main_image {
  height: 80vmin;
  width: auto;
  max-width: 100%;
}

.hidden {
  display: none;
}

#table_page {
  width: inherit;
  height: inherit;
}

#youngsters_full_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  background-color: white;
  border-radius: 12vmin;
  outline: 0.4vmin solid rgb(11, 116, 185);
  font-size: 1.7vmin;
  font-weight: 700;
  background-color: aliceblue;
}

.details_title {
  position: absolute;
}

#youngsters_details_adder_mode {
  position: absolute;
  width: 12vmin;
  height: 5vmin;
  left: 2vmin;
  top: 0.5vmin;
  background-color: #395ac5;
  outline: 0.3vmin solid black;
  color: white;
  font-size: 3vmin;
}

.youngsters_details_adder_mode_active {
  background-color: #e82a2a !important;
}

#all_details {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3vmin;
  text-align: center;
  margin-top: 2%;
  width: 85%;
  height: 60vmin;
  outline: 0.4vmin solid rgb(11, 116, 185);
  background-color: white;
}

.table_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scroll {
  background-color: white;
  overflow-y: auto;
  width: inherit;
  height: 40vmin;
  direction: ltr;
  scroll-behavior: smooth;
}

.scroll::-webkit-scrollbar {
  width: 2vmin;
}

.scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1.5vmin grey;
  border-radius: 2.5vmin;
}

.scroll::-webkit-scrollbar-thumb {
  background: #506dceb8;
  border-radius: 2.5vmin;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background: #395ac5;
}

#all_details_data_box {
  background-color: white;
  direction: rtl;
}

.table_title_column_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sort_buttons_box {
  display: flex;
  flex-direction: column;
  margin-right: 1vmin;
}

.arrow_up {
  position: relative;
  width: 0;
  height: 0;
  border-left: 1.4vmin solid transparent;
  border-right: 1.4vmin solid transparent;

  border-bottom: 1.8vmin solid rgb(150, 33, 33);
  margin-bottom: 0.3vmin;
}

.arrow_up::after {
  content: "";
  position: absolute;
  right: -0.935vmin;
  top: 0.3vmin;
  width: 0;
  height: 0;
  border-left: 0.9vmin solid transparent;
  border-right: 0.9vmin solid transparent;

  border-bottom: 1.4vmin solid rgb(20, 64, 137);
  margin-bottom: 0.3vmin;
}

.arrow_down {
  position: relative;
  width: 0;
  height: 0;
  border-left: 1.4vmin solid transparent;
  border-right: 1.4vmin solid transparent;

  border-top: 1.8vmin solid rgb(150, 33, 33);
}

.arrow_down::after {
  content: "";
  position: absolute;
  right: -0.935vmin;
  top: -1.6vmin;
  width: 0;
  height: 0;
  border-left: 0.9vmin solid transparent;
  border-right: 0.9vmin solid transparent;

  border-top: 1.4vmin solid rgb(20, 64, 137);
}

.arrow_up:hover {
  border-bottom-color: rgb(108, 141, 194);
}

.arrow_down:hover {
  border-top-color: rgb(108, 141, 194);
}

#all_details_table {
  width: 100%;
  text-align: start;
  font-weight: 200;
  text-wrap: nowrap;
  border-spacing: 0.4vmin;
}

.details_table_header {
  top: 0;
  position: sticky;
}

.table_title_column {
  background-color: black;
  color: white;
}

.table_row {
  background-color: #8080806b;
}

.table_row:hover {
  background-color: #95a7e3b8;
}

.one_youngster_clicked_mode {
  background-color: #95a7e3b8;
}

.multiple_youngsters_clicked_mode {
  background-color: #f93b3bb8;
}

.specific_details {
  display: flex;
  justify-content: center;
  font-size: 3vmin;
  margin-top: 1%;
  margin-bottom: 2%;
  width: 85%;
  height: 18vmin;
  outline: 0.4vmin solid rgb(11, 116, 185);
  text-align: center;
  background-color: white;
}

td {
  padding: 0.5vmin;
  padding-right: 1.5vmin;
}

#specific_details_boxes_container {
  direction: ltr;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  margin-top: auto;
  height: 80%;
}

.specific_details_box {
  direction: rtl;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: inherit;
  font-size: 3vmin;
  padding-top: 5vmin;
  padding-bottom: 5vmin;
}
