p {
    margin: 0;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(63, 201, 201);
    outline: .2vh solid black;
}

.top-page {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    background-color: aliceblue;
    margin-top: 1vh;
    border-radius: 2vh;
    outline: .2vh solid black; 
}

.title {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 1vw;
}

.page-name {
    font-size: 6vh;
    margin: 0;
    color: rgb(22, 128, 128);

    text-shadow: -1px -1px 0 rgb(2, 54, 61), 1px -1px 0 rgb(2, 54, 61), 1px 1px 0 rgb(2, 54, 61), -1px 1px 0 rgb(2, 54, 61);
     -webkit-text-stroke: 1px rgb(255, 255, 255); 

}


.user-info {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-left: 1vw;
     font-weight: 700;
}

/*----------------------------------------------------------------------------------------------------*/

.bottom-page {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 98%;
    height: 100%;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.sidebar {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    width: 20vh;
    background-color: rgb(43, 172, 172);
    border-radius: 3vh;
    margin-left: 1vw;
    outline: .2vh solid black;
}

.side-button {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(74, 182, 173), rgb(2, 63, 71));
    font-size: 2vh;
    width: 80%;
    height: 6%;
    margin-bottom: 1vh;
    color: white;
    border-radius: 1vh;
    box-shadow: 0 .5vh 2vh 0 rgba(0,0,0,0.2);
    border: .2vh solid black;
}

.side-button:hover {
    background-image: linear-gradient(rgb(20, 133, 133));
}

.main {
    display: flex;
    flex-direction: column; 
    width: 100%;
    background-color: white;
    border-radius: 10vh;
    outline: .2vh solid black;
    justify-content: center;
    align-items: center;
    font-size: 1.7vh;
    font-weight: 700;
}

.all-details {
    margin-top: 2%;
    width: 90%;
    height: 75%;
    outline: .2vh solid black;
    text-align: center;
    
}

.specific-details {
    margin-top: 1%;
    margin-bottom: 2%;
    width: 90%;
    height: 25%;
    outline: .2vh solid black;
    text-align: center;
}